<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bs.mapper.categoryCourseMapper">
  <resultMap id="BaseResultMap" type="com.bs.model.CategoryCourse">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="desc" jdbcType="VARCHAR" property="desc" />
    <result column="add_time" jdbcType="TIMESTAMP" property="add_time" />
    <result column="image" jdbcType="VARCHAR" property="image" />
    <result column="nick" jdbcType="VARCHAR" property="nick" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, desc, add_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from category_coursecategory
    where id = #{id,jdbcType=INTEGER}
  </select>


  <select id="findCategoryNameById" parameterType="java.lang.Integer" resultType="java.lang.String">
      select name from category_coursecategory where id=#{id,jdbcType=INTEGER }
  </select>

  <select id="findCourseListById" parameterType="java.lang.Integer" resultType="com.bs.model.Courses">
    SELECT course.name,course.description,course.degree,course.id,course.category,
			course.learn_time,course.click_numbers,course.favorite_student,course.add_time,course.image,course.students
from category_coursecategory as category RIGHT JOIN courses_course as course on category.id = course.course_category_id where category.id =   #{id,jdbcType=INTEGER}
  </select>

  <select id="findCourseListName" resultType="com.bs.model.CategoryCourse">
    select id, name,image,nick from category_coursecategory
  </select>
</mapper>