<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bs.mapper.CoursesMapper">
  <resultMap id="BaseResultMap" type="com.bs.model.Courses">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="degree" jdbcType="VARCHAR" property="degree" />
    <result column="learn_time" jdbcType="INTEGER" property="learn_time" />
    <result column="students" jdbcType="INTEGER" property="students" />
    <result column="favorite_student" jdbcType="INTEGER" property="favorite_student" />
    <result column="image" jdbcType="VARCHAR" property="image" />
    <result column="click_numbers" jdbcType="INTEGER" property="click_numbers" />
    <result column="add_time" jdbcType="TIMESTAMP" property="add_time" />
    <result column="course_org_id" jdbcType="INTEGER" property="course_org_id" />
    <result column="category" jdbcType="VARCHAR" property="category" />
    <result column="tag" jdbcType="VARCHAR" property="tag" />
    <result column="course_category_id" jdbcType="INTEGER" property="course_category_id" />
    <result column="details" property="details" jdbcType="LONGVARCHAR" />
    <result column="user_list" property="user_list" jdbcType="LONGVARCHAR" />
  </resultMap>

  <sql id="Base_Column_List">
    id, name, description, degree, learn_time, students, favorite_student, image, click_numbers,
    add_time, course_org_id, category, tag, course_category_id,details, user_list
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultType="com.bs.model.Courses">
    select 
    <include refid="Base_Column_List" />
    from courses_course
    where id = #{id,jdbcType=INTEGER}
  </select>



  <select id="FindCourseImageToLunbo" resultType="com.bs.model.Courses">
    select  image,id  from courses_course where lunBo = 1
  </select>

  <select id="FindCourseByOrderTime" parameterType="java.lang.Integer" resultType="com.bs.model.Courses">
    select id, name, image, description, details,degree,students from courses_course
      GROUP BY id ORDER BY add_time DESC
      limit 0, 5
  </select>

  <select id="findCourseInforBylessonId" parameterType="java.lang.Integer" resultType="java.lang.String">
    select courses_course.details from
	  courses_course  LEFT JOIN courses_lesson on courses_course.id = courses_lesson.course_id
	where  courses_lesson.id=#{id, jdbcType=INTEGER}
  </select>


  <select id="findStudentByCourseId" parameterType="java.lang.Integer" resultType="com.bs.model.Courses">
    select * from  courses_course a where a.id=#{course_id, jdbcType=INTEGER}
  </select>

  <delete id="delete_triggerData">
    UPDATE trigger_video1 set flag = 1;
  </delete>


  <select id="findCourseToMeList" parameterType="java.lang.String" resultType="com.bs.model.Courses">
    select id,name,students,description,degree,image from courses_course where id = #{id}
  </select>
</mapper>