<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bs.mapper.CoursesLessonMapper">
  <resultMap id="BaseResultMap" type="com.bs.model.CoursesLesson">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="add_time" jdbcType="TIMESTAMP" property="add_time" />
    <result column="course_id" jdbcType="INTEGER" property="course_id" />
    <result column="desc" jdbcType="VARCHAR" property="desc" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, add_time, course_id, desc
  </sql>
  <select id="findCourseIdByLessonId" parameterType="java.lang.Integer" resultType="java.lang.Integer">
     select a.course_id from courses_lesson a where a.id = #{id}
  </select>


</mapper>